/*
Theme Name: Travels
Description: Travels is a fully configurable and easy to use WordPress theme with a lot of great features. It has been specifically designed to be easily customized and it’s created by using the latest HTML5 and CSS3 techniques.
Author: Emanuel Pécora
Version: 1.0
Text Domain: travels 
License:GNU General Public License version 3.0
License URI:http://www.gnu.org/licenses/gpl-3.0.html

All files, unless otherwise stated, are released under the GNU General Public License
version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)
*/

body {
	background-color:#EEEEEE;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', sans-serif;
}

footer {
	clear:both;
}

h2 {
	text-transform:uppercase;
}

/* Menu header */

.header-container {
	position: relative;
}

.tr-header-dropdown {
	float:left;
	margin-top: 28px;
}
	.tr-header-dropdown a {
		color: ;
	}

.flag {
	width: 26px;
	height: 12px;
	display: inline-block;
}

.flag-position {
	position: absolute;
	top: 7px;
	left: 13px;
}

.dropdown-flag {
	position: relative;
}

.qtrans_flag_pt {
	background: url('../../../../plugins/qtranslate-x/flags/pt.png') no-repeat;
}

.qtrans_flag_en {
	background: url('../../../../plugins/qtranslate-x/flags/gb.png') no-repeat;
}

.qtrans_flag_es {
	background: url('../../../../plugins/qtranslate-x/flags/es.png') no-repeat;
}

.dropdown-menu > li > a {
	padding: 3px 37px;
}

.tr-navbar {
	min-height:73px;
	margin-bottom: 0px;
	background:#FFF;
	border-color: #aaa;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #AAA;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #AAA;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #AAA;
}

.tr-navbar-nav > li > a {	
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 30px;
	padding-bottom: 22px;
}

.navbar-inverse .navbar-nav > .current-menu-item > a, .navbar-inverse .navbar-nav > .current-menu-item > a:hover, .navbar-inverse .navbar-nav > .current-menu-item > a:focus {	
	background-color: #FFF;
	color:#6F6E6C;	
}

.navbar-inverse .navbar-nav > .current-menu-item > a {
	background-color: #FFF;
	padding-bottom: 17px;
	border-bottom: 5px solid #EA7504;
	color:;
}

.nav > li {
	border-left:1px solid #EEEDEB;
	text-transform: uppercase;
	font-size: 13px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #6F6E6C;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #00A550;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	text-shadow: none;
}

.navbar-brand {
	padding: 18px 15px;
}

@media (min-width: 768px) {
	.navbar-nav {
		float: right;
	}
}

.tr-home-form-slider {
	margin-bottom: 20px;
}

/* Form Home */

.tr-home-form h1 {
	color: #FFF;
	font-size: 43px;
	font-weight: 300;
	padding-left: 12px;
}

.tr-home-form {
	position:relative;
	background-color: #00A550;
	padding-bottom: 47px;
}

.tr-home-jumbotron {
	padding-top:0px;
	padding-bottom: 0px;
}

.tr-form label {
	font-size:13px;
	color:#FFF;
	text-transform: uppercase;
}

.tr-form .form-group {
	margin-bottom:0px;
}

.form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.tr-form .btn-lg {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-transform: uppercase;
}

.btn-warning {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#F17200),to(#ec971f));
	background-image: -webkit-linear-gradient(top,#F17200,0%,#ec971f,100%);
	background-image: -moz-linear-gradient(top,#F17200 0,#ec971f 100%);
	background-image: linear-gradient(to bottom,#F17200,#ec971f 100%);
	background-repeat: repeat-x;
	border-color: #eb9316;
}

.tr-form-submit {
	margin-top: 40px;
}

.tr-home-submit {
	padding-top: 20px;
}

.passengers-fix {
	margin-top: 5px;
}

/* Corousel */

.tr-corousel {
	padding-left: 0px;
}

/* Home Recomended */

.tr-recomended-title {
	margin-bottom: 20px;
	font-size: 22px;
	color: #00A550;
	font-weight: 700;
}

.tr-recomended-container {
}

.tr-home-recomended {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tr-recomended-widget .tr-recomended-widget-box {
	margin-bottom: 30px;
}

.tr-recomended-text {
	height: 180px;
	background:#FFF;
	padding: 20px;
	color:#999;
	margin:0px;
}

.tr-recomended-button {
	text-transform: uppercase;
	height: 50px;
	background: #F17200;
	width: 100%;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.tr-recomended-link {
	margin-left: 20px;
	line-height: 50px;
	font-size: 18px;
	color: #FFF;	
}

.tr-recomended-link:hover {
	color:#6F6E6C;	
}

.tr-recomended-button-link:hover {
	text-decoration:none;
}

.tr-recomended-arrow {
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	float: right;
	display: inline-block;
	height: 50px;
	width: 50px;
	background: #C96100;
	padding-left: 19px;
	padding-top: 10px;
}

.tr-recomended-header h3 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
	color: #00A550;
}

.tr-recomended-header {
	padding: 17px 17px 0px 17px;
	background: #FFF;
	height: 136px;
}

.tr-recomended-header p {
	text-transform: uppercase;
	text-align:center;
	margin-bottom:0px;
}

.tr-recomended-border {
	border-bottom:1px solid #CCC;
	margin-top: 15px;
}

/* Sidebar */

#tr-sidebar ul {
	color: #9E9E9E;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#tr-sidebar .menu {
	background: #FFF;
	padding: 15px;
}

#tr-sidebar ul a {
	color: #9E9E9E;
}

#tr-sidebar .textwidget {
	margin-bottom: 20px;
}

@media only screen and (max-width : 480px){
	#tr-sidebar ul a {
		color: #9E9E9E;
		line-height: 2.3em;
		font-size: 1.4em;
	} 
}

@media only screen and (max-width : 768px){
	#tr-sidebar ul a {
		color: #9E9E9E;
		line-height: 2.3em;
		font-size: 1.4em;
	}
}

.tr-category-sidebar h4 {
	background: #00A550;
	margin-bottom: 0px;
	font-size: 18px;
	color: #FFF;
	padding: 12px 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.tr-category-sidebar ul {
	color: #9E9E9E;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background: #FFF;
	padding: 15px;
}

.tr-category-sidebar ul a {
	color: #9E9E9E;
}

/* Featured */

.tr-featured-title {
	margin-bottom: 20px;
	font-size: 22px;
	color: #00A550;
	font-weight: 700;
}

.tr-featured ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.tr-featured li {
	background:#FFF;
	float:left;
	margin-bottom: 20px;
	margin-right: 30px;
}

.tr-home-featured {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tr-featured {}

	.tr-featured__item {
		margin-bottom: 20px;
	}

	.tr-featured__item__img {}

	.tr-featured__item__box {
		background: #FFF;
		padding: 15px;
	}
		.tr-featured__item__box h4 {
			color: #00A550;
		}

	.tr-featured__stars {
		height: 12px;
		display: block;
	}

	.tr-featured__arrow {
		display: inline-block;
		height: 40px;
		width: 40px;
		background: #00A550;
		position: absolute;
		right: 15px;
		bottom: 0px;
		padding-left: 15px;
		padding-top: 8px;
	}

/* Footer */


footer {
	background:#3F3F3F;
}

.tr-footer-top {
	padding-top:50px;
	padding-bottom:20px;
}

.tr-footer-top ul {
	list-style:none;
	margin:0;
	padding:0;
}

.tr-footer-top h4 {
	font-weight: 600;
	font-size:1.2em;
	color:#EA740A;
	text-transform: uppercase;
}

.tr-footer-top ul a {
	color:#FFF;
}

@media only screen and (max-width : 480px) {
	.tr-footer-top ul a {
		color: #FFF;
		line-height: 2.3em;
		font-size: 1.4em;
	} 
}

@media only screen and (max-width : 768px) {
	.tr-footer-top ul a {
		color: #FFF;
		line-height: 2.3em;
		font-size: 1.4em;
	}
}

.tr-footer-top ul a:hover {
	color:#EA740A;
	text-decoration:none;
}

.tr-footer-main-ul .tr-footer-main-li {
	float:left;
	margin-right: 70px;
	margin-bottom: 20px;
}

.tr-navbar-nav-footer li {
	border:0;
}

	.tr-navbar-nav-footer a {
		color: #EA740A;
		font-size: 12px;
		line-height: 12px;
		font-weight: 600;
	}

	.tr-navbar-nav-footer li a:hover {
		color: #FFF;
		background: none;
	}

.tr-footer-middle {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tr-footer-bottom {
	background:#505050;
	color:#FFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

.tr-footer-bottom h4 {
	margin-top:5px;
	text-transform:uppercase;
	font-weight: 600;
	font-size: 1.2em;
	margin-bottom: 6px;
}

.tr-footer-bottom ul {
	list-style:none;
	margin:0;
	padding:0;
}

.tr-footer-bottom li {
	float: left;
	margin-right: 60px;
}

.tr-footer-bottom p a {
	color:#FFF;
}

.footer-widget {
	
	padding-left: 10px;
	float: left;
}

.tr-office-map {
	width: 100%;
}

.tr-certificates {
	margin-top: 40px;
	background: #FFF;
	padding: 10px 0px;
}

	.tr-certificates-logo img {
		margin: 0 auto;
	}

	.site-lock {
		margin-top: 10px;
	}

	.truste-cert {
		margin-top: 12px;
	}

/* Category View*/

.tr-category-container {
	padding-top: 20px;
}

.tr-category-img {
	padding-left: 0px;
}

@media only screen and (max-width : 480px) {
	.tr-category-img {
		padding-right: 0px;
		padding-left: 0px;
	}
}

.tr-category-info {
	padding: 15px;
}

.tr-post-cat-box h2 {
	color: #00A550;
	font-size: 1.5em;
	margin-top: 0px;
}

/* Category Sidebar */


#tr-sidebar h4 {
	background: #00A550;
	margin-bottom: 0px;
	font-size: 18px;
	color: #FFF;
	padding: 12px 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.tr-categories-widget-header {
	padding-left: 15px;
	line-height: 46px;
	font-size: 14px;
	height: 46px;
	background: #00A550;
	text-transform: uppercase;
	color: #FFF;
}

.tr-categories-widget-list {
	background: #FFF;
	padding: 15px;
}

.tr-categories-widget-list ul {
	color: #9E9E9E;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.tr-banner-image a {
	text-decoration: none;
}

.form-category {
	padding-top: 15px;
	margin-bottom: 20px;
	background: #00A550;
	padding-bottom: 20px;
}

.form-category h4 {
	font-size: 23px;
	background: #00A550;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 700;
}

.tr-category-sidebar .tr-home-form .row {
	margin-bottom:15px;
}

.tr-rooms {
	padding-right: 11px;
	padding-left: 11px;
}

.tr-category-sidebar .tr-form-submit {
	margin-top:16px;
	padding-left: 11px;
}

.tr-category-container h1 {
	color:#00A550;
	text-transform:uppercase;
	font-weight:900;
	font-size:24px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Banner Widget */

.tr-banner-widget {
	clear: both;
	background: #00A550;
	margin-bottom:20px;
}

.tr-banner-widget h5 {
	font-size: 16px;
	padding: 11px;
	margin: 0px;
	font-weight: 900;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
}



.navbar-toggle {
	background:#00A550;
}

/* Media Queries */

@media (min-width: 768px) and (max-width: 992px) {
	.navbar-nav {
		float: none;
	}
	.tr-featured .col-sm-6 {
		width: 49%;
	}

	.tr-featured-title {
		margin-top: 40px;
	}
}

@media (max-width: 768px) {
	.tr-category-container .col-xs-6 {
		width:44%;
	}

	.tr-category-container .col-xs-5 {
		width: 53.666667%;
	}

	.tr-category-slider-traditional  {
		background-position: 0% 0%;
	}

	.tr-single-main {
		margin-bottom: 30px;
	}
}

@media (max-width: 430px) {
	.tr-header-dropdown {
		float: right;
		margin-top: 0px;
	}	
}


@media (min-width: 768px) and (max-width: 992px) {
	.tr-category-container .col-xs-6 {
		width:44%;
	}

	.tr-category-container .col-xs-5 {
		width: 44.666667%;
	}

}

.tr-post-cat-box {
	position: relative;
	padding: 0px;
	margin-top: 20px;
	background: #FFF;
}

.navbar-collapse {
	border:0;
}

.tr-category-listing-info h2 {
	font-size:20px;
	color:#00A550;
}

.tr-category-listing-info a:hover {
	text-decoration:none;
}

.tr-category-listing-info p {
	color:#7E7E7E;
}

.tr-cat-more-info {
	margin-top:3%;
	background: #F17200;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	float: right;
	height: 43px;
	padding-top: 14px;
	padding-right: 30px;
	padding-bottom: 14px;
	padding-left: 30px;
}

.tr-cat-more-info a {
	color:#FFF;
	text-decoration:none;
}

.tr-cat-more-info a:hover, .tr-cat-more-info a:focus {
	color:#00A550;
}

/* Single */

.tr-single-title {
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	background: #122A46;
	padding-left: 20px;
	padding-top: 35px;
	padding-bottom: 35px;
	z-index: 1;
}

.tr-relative-title {
	position:relative;
}

.tr-single-title h1 {
	font-size: 28px;
	font-weight: 500;
	color: #FFF;
}

.tr-single-main .bjqs-controls {
	/*display:none;*/
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.tr-single-content {
	background:#FFF;
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	color: #7E7E7E;
}

.tr-gallery-single {
	position:relative;
}

/* Pagination */

.pagination a {
	color:#00A550;
}

.pagination span {
	color:#EA740A;
}

/* Breadcrumb */

.breadcrumb {
	margin-bottom:10px;
	padding:0px;
	background:none;
}

.breadcrumb a {
	color:#EA740A;
}

.breadcrumb {
	color:#7E7E7E;
}

.passengers-modal {
	display:none;
	width: 325px;
	bottom: -87px;
	left: 24px;
	padding: 15px;
	z-index:99999;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

.modal-table {
	margin-bottom: 10px;
}

.distribution_room_title p {
	margin: 8px 0px 0px 0px;
}

.modal-fix-sidebar {
	bottom: -22px !important;
}

.sidebar-button {
	margin-top:18px !important;
}

.passengers-modal strong {
	padding-left: 5px;
	font-size: 13px;
	display: inline-block;
}

.passengers-modal .form-control {
	background-color: #ccc;
}

.passengers-modal tr th, .passengers-modal tr td {
	border-bottom: dotted 1px #CCC;
}

.passengers-modal th {
	font-weight: normal;
	line-height: 1.2em;
	padding: 5px 15px 15px 0;
	text-align: left;
	font-size: 10px;
}

.pax-button {
	text-align:center;
}

#room-2, #room-3, #room-4 {
	display:none;
}

.mt-sprite {
	background: url('../../img/MT_sprite.png');
}

.features-post-stars {
	position: absolute;
	left: 195px;
}

.stars {
	height: 12px;
	display: block;
	margin: 5px auto;
}

.five-stars {
	background-position: -17px -60px;
	width: 96px;
}

.four-stars {
	background-position: -17px -60px;
	width: 75px;
}

.three-stars {
	background-position: -17px -60px;
	width: 55px;
}

.two-stars {
	background-position: -17px -60px;
	width: 35px;
}

.one-stars {
	background-position: -17px -60px;
	width: 16px;
}

/* Error Layout */

.tr-error-content {
	background: #FFF;
}

.tr-error-content h1 {
	font-size: 15em;
	color: #6F6E6C;
	text-align: center;
	padding: 41px 0px;
}
	
/** Responsive Adsense **/

.ad-margin-bottom {
	margin-bottom: 20px;
}

.ad-margin-top {
	margin-top: 20px;
}

.modal-dialog {
  padding-top: 15%;
}

/** Fix DatePicker size **/

div.ui-datepicker {
	font-size:10px;
}

.wpcf7 h2 {
	font-size: 20px;
}

#breadcrumbs a, #breadcrumbs a:hover {
	color:#EA740A
}

/** Traditional Excursions style **/

.tr-category-slider-traditional {
	padding-bottom: 20px;
	background: url('../../img/sanrafael/excursiones-tradicionales-san-rafael-slider.jpg');
	background-position: 50% 50%;
	margin-bottom: 25px;
}


.tr-category-slider-wineries {
	padding-bottom: 20px;
	background: url('../../img/sanrafael/excursiones-bodegas-mendoza-slider.jpg');
	background-position: 50% 50%;
	margin-bottom: 25px;
}


/** Custom Category **/

.tr-custom-category h1 {
	color: #FFF;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

	.tr-custom-category .tr-recomended-header {
		height: 62px;
	}

	.tr-custom-category .tr-header-large {
		height: 85px;
	}

	.tr-custom-category .tr-recomended-header h3 {
		margin-bottom: 0px;
	}

.tr-custom-category-item {
	margin-bottom: 20px;
}

/** This fix vertical align for h1 **/

#outter-div {
	text-align: center;
	height: 450px;
} 

#outter-div:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; 
}
 
#aligned {
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width : 480px){
	#outter-div {
		text-align: center;
		height: auto;
	}

	.tr-custom-form {
		float: none;
	}

	.tr-custom-form .tr-form .btn-lg {
		font-size: 0.9em;
	}
}

@media only screen and (max-width : 768px){
	#outter-div {
		text-align: center;
		height: auto;
	}

	.tr-custom-form {
		float: none;
	}

	.tr-custom-form .tr-form .btn-lg {
		font-size: 0.9em;
	}
}

.tours-form-title {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #18804A;
}

/** Custom Contact Form **/

.tr-custom-form {
	background-color: #00A550;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 50px;
	float: right;
}

	.tr-custom-form .form-header {
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: #18804A;
	}

	.tr-custom-form h2 {
		color:#FFF;
		font-size: 20px;
		font-weight: 900;
		text-align: center;
	}

	.tr-custom-form .tr-submit {
		margin: 15px 0px;
		text-align: center;
	}

	.tr-custom-form label {
		margin-top: 10px;
	}

	.tr-custom-required {
		font-size: 11px;
		text-transform: none;
		text-transform: lowercase;
	}

	.single-form {
		background-color: #00A550;
		float: none !important;
		margin: 20px auto 0px auto !important;
	}

		.single-form .single-form-title {
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background: #18804A;
		}
	

/* This gets Google to fall into place */
.social {
	font-size: 1px;
	height: 40px;
}
 
/* This gets Facebook to fall into place */
.social iframe {
	margin-top:10px;
	vertical-align: middle !important;
}
 
/* Set an optional width for your button wrappers */
.social span {
	display: inline-block;
	width: 110px;
}
 
/* Adjust the widths individually if you like */
.social .google {
	width: 75px;
}

.social .twitter iframe {
	margin-top:0px;
	vertical-align: middle !important;
}

/** Social button for mobile views. **/

@media only screen and (max-width : 480px){
	.social {
		height: 87px;
	}
	.twitter {
		margin-top: 20px;
	}
}

@media only screen and (max-width : 768px){
	.social {
		height: 87px;
	}

	.twitter {
		margin-top: 20px;
	}
}

.form-single {
	width: 255px;
	height: 266px;
	margin: 0 auto;
}

#recaptcha_image, #recaptcha_image img {
    width: 273px !important;
    cursor: pointer;
}

.recaptcha_only_if_image, .recaptcha_only_if_audio {
    display: block;
}

#recaptcha_widget .thumbnail{
	margin-bottom: 0px;
}

#recaptcha_widget .rc-reload {
	margin-top: 20px;
}

/** Booking Plugin Style **/

.booking-home-submit {
	padding-top: 25px;
}

.booking-single-bottom-form {
	margin-bottom: 20px;
	background: #00A550;
	padding: 26px;
}

	.booking-single-bottom-form h4 {
		font-size: 1.5em;
		text-transform: uppercase;
		color: #FFF;
		font-weight: 700;
	}

	.booking-single-bottom-form label {
		font-size: 13px;
		color: #FFF;
		text-transform: uppercase;
	}

.tr-swipebox-gallery {
	position: relative;
}

.tr-swipebox-gallery .img-responsive {
	width: 100%;
	height: 100%;
}

span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background:url('../../img/mag.png') center center no-repeat #000;
	cursor: pointer;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	opacity: 0;
}

span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}

.email-container_icon {
	right: 1em;
	position: absolute;
	top: 0.7em;
}

.check-container_icon {
	right: 1em;
	position: absolute;
	top: 0.7em;
}

.times-container_icon {
	right: 1em;
	position: absolute;
	top: 0.7em;
}

.tr-phone-spin {
	position: absolute;
	top: 2px;
    right: 7px;
    color:#000;
}

@media (max-width: 767px) {
	.tr-category-slider-traditional  {
		background-position: 0% 0%;
	}
}
