/** Admin **/

.featured_widget_box {
	border: 1px solid #ccc;
	padding: 12px;
	margin-bottom: 10px;
}

.tr-banner-widget-admin {
	border: 1px solid #ccc;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.tr-banner-widget-admin-warning p {
	color:red;
}