/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{font-size: 24px;opacity: 0.8;display: block;width: 100%;margin: 0;padding: 3%;position: absolute;bottom: 0;background: #000; color: #FFF; font-weight:800;}

ul.bjqs-controls.v-centered li a {
display: block;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 14px;
padding-left: 10px;
background: #000;
zoom: 1;
filter: alpha(opacity=60);
opacity: 0.6;
color: #000;
text-decoration: none;
}
.bjqs-slide a img {
	width: 100%;
	height: 100%;
}